:host {
  display: block;
  width: 100%;
  height: 100vh;
}

#superset-container {
  width: 100%;
  height: 100vh;
  border: 2px solid #ddd;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Remove scrollbars */
  margin-top: 25px;
}

#superset-container iframe {
  width: 100% !important;
  height: 100% !important;
  border: none;
}
